{{define "directoryList"}}
<table class="table is-hoverable is-striped">
    <thead>
        <th>Path</th>
        <th>Id</th>
        <th>Date added</th>
    </thead>
    <tbody>
    {{range .}}
    <tr>
        <th>{{.Path}}</th>
        <td>{{.Id}}</td>
        <td>{{.Dateadded}}</td>
    </tr>
    {{end}}
</tbody>
</table>
<form method="post">
    <div class="field">
        <label class="label">Path</label>
        <div class="control">
            <input class="input" name="path" type="text" placeholder="e.g. /etc/dir/">
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-link">Submit</button>
        </div>
    </div>
</form>
{{end}}