{{define "fileList"}}
<table class="table is-hoverable is-striped">
    <thead>
        <th>Path</th>
        <th>Id</th>
        <th>Date added</th>
        <th>MIME</th>
    </thead>
    <tbody>
        <tr>
            <th>
                <a href="{{.ParentDirectoryId}}">
                    <span class="icon">
                        <ion-icon name="return-up-back-outline"></ion-icon>
                    </span>../
                </a>
            </th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{range .Dirs}}
        <tr>
            <th>
                <a href="{{.Id}}">
                    <span class="icon">
                        <ion-icon name="folder-outline"></ion-icon>
                    </span>{{.Path}}
                </a>
            </th>
            <td>{{.Id}}</td>
            <td>{{.Dateadded}}</td>
            <td></td>
        </tr>
        {{end}}
        {{range .Files}}
        <tr>
            <th>
                <a href="serve/{{.Id}}">
                    <span class="icon">
                        <ion-icon name="document-outline"></ion-icon>
                    </span>{{.Path}}
                </a>
            </th>
            <td>{{.Id}}</td>
            <td></td>
            <td>{{.MimeType.String}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}